$colors: (
  bg-dark: #282c34,
  bg-gray: #eee,
  bg-light: #f5f5f5,
  bg-white: #fff,
  text: #3e3e3e,
  text-decor: #0075ff,
  link: #9fadc2,
  link-hover: lighten(#9fadc2, 10%),
  btn: #0067df,
  btn-hover: darken(#0067df, 20%),
  input: #f7f8ff,
);
