@import "assets/scss/utils";

br {
  display: none;
}

p {
  margin: 0;
}

.App {
  text-align: center;
  font-size: rem(12);

  &-List {
    list-style: none;
    text-align: left;
  }

  &-Code {
    display: inline-block;
    color: indigo;
    background-color: lighten(lightskyblue, 22%);
  }
}

.App-header.ui.header {
  @extend %flex-column-center;
  background-color: map_get($colors, bg-dark);
  margin: 0;
  min-height: 100vh;
  font-size: rem(30);
  color: map_get($colors, bg-light);
}
